<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      throwExceptions="true"
	      internalLogFile="nlog.nlog"
	      internalLogLevel="Trace">
		<targets>
			<target name="file" xsi:type="File" fileName="site.nlog"
			        layout="${longdate}|${level:uppercase=true}|${logger:shortName=false}|${message}"
			        encoding="utf-8" />
			<target xsi:type="Console" name="console"
			        layout="${longdate}|${level:uppercase=true}|${callsite:className=true:methodName=true}|${message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="file" />
			<logger name="*" minlevel="Trace" writeTo="console" />
		</rules>
	</nlog>

	<appSettings>

		<!-- Service Installation Parameters -->
		<add key="ServiceName" value="scenus, Desktop Changer" />
		<add key="DisplayName" value="scenus, Desktop Changer" />

		<!-- AsConsole|AsService -->
		<add key="RunningMode" value="AsConsole" />

		<!-- Configuration -->
		<add key="SourceImageName" value="Y:\Pictures\Wallpapers\Sample.jpg" />
		<add key="SourceImagePath" value="Y:\Pictures\Wallpapers\" />
		<add key="TargetImageName" value="D:\Windows\Web\Wallpaper\Windows\Sample.jpg" />

		<add key="StartDate" value="{'Y':'2018','M':'3','D':'1'}" />
		<add key="TimerSpan" value="{'D':'0','H':'0','M':'9','S':'0'}" />

	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>